body {
    background-color: blanchedalmond;
    min-height: 700px;
}

.titleContainer {
    background-color: brown;
    padding-bottom: 20px;
}
.customTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
}