body {
    background-color: blanchedalmond;
    min-height: 100%;
}

.titleContainer {
    padding-bottom: 20px;
    border-bottom: solid black 5px;
}
.customTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    
}

#movie-display div {
    flex: 20%;
    padding: 10px;
}

#movie-display-2 div {
    flex: 20%;
    padding: 10px;
}

#movie-display {
    display: flex;
    margin-bottom: 20px;
    border-bottom: solid black 5px;
    padding-bottom: 15px;
}

#movie-display-2 {
    display: flex;
    margin-top: 20px;
}

