body {
    background-color: black;
    min-height: 100vh;

}

#background-image {
    background-repeat: no-repeat;
    background-color: black;
    width: 100%;
    min-height: 700px;
    background-size: contain;
    background-image: linear-gradient(rgba(7, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("/assets/images/45790.webp");

}

.titleContainer {
    background-color: brown;
    padding-bottom: 20px;
    background-image: url("/assets/images/download-2.jpg");

}

.customTitle {
    font-family: 'Maven Pro', sans-serif;
    margin-top: 30px;
    background: #000000d0;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.aside {
    margin-left: 15px;
}

.search {
    margin-top: 40px;
    font-family: 'Maven Pro', sans-serif;
}

.history {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
}

.custom-info {
    font-size: 15px;
    font-family: 'Maven Pro', sans-serif;
}

.search-history {
    font-size: 15px;
    margin-top: 10px;
    font-family: 'Maven Pro', sans-serif;
}

.search-history li {
    margin-top: 10px;
    border: solid;
    text-align: center;
}

#redirect {
    display: none;
    margin-top: 25px;
    margin-inline: auto;
    width: 25vw;
}

#clear-history {
    margin-top: 10px;
}

#clearHistoryBtn {
    font-weight: bold;
}


.character-desc {
    background: #000000a1;
    color: white;
    padding: 1em;
    border-radius: 30px;
    font-family: 'Maven Pro', sans-serif;

}

#char-atag {
    height: 375px;
    width: 250px;
    border-style: inset;
    border-color: black;
}

#char-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

#character-display {
    display: flex;
}


#name-style {
    font-size: 40px;
    font-family: 'Maven Pro', sans-serif;
    background: #000000d0;
    color: white;
    border-radius: 10px;
}

.history {
    background: #000000d0;
    color: white;
    border-radius: 10px;
}

.img {
    align-items: center;
}

#comic-section {
    font-family: 'Maven Pro', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: white;
}

#comics-list {
    gap: 20px;
    margin-top: 20px;
}

#comics-list {
    justify-content: center;
}


.modal-card,
.modal-content {
    margin: 0 20px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 769px) {

    .modal-card,
    .modal-content {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: 500px;
    }
}

.modal-card-head,
.modal-card-title,
.modal-card-body,
.modal-card-body p strong {
    background-color: #161a1f;
    color: aliceblue;
}