body {
    background-color: blanchedalmond;
    min-height: 1000px;
    
}


.titleContainer {
    background-color: brown;
    padding-bottom: 20px;
    background-image: url(/assets/images/download-2.jpg);
    
}

.customTitle {
    font-family: 'Maven Pro', sans-serif;
    margin-top: 30px;
    background: #000000d0;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.search {
    margin-top: 40px;
    margin-left: 10px;
}

.history {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.custom-info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.search-history {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 10px;
}
.search-history li {
    margin-top: 10px;
    border: solid;
    text-align: center;
    margin-left: 15px;
}

#redirect {
    display: none;
    margin-top: 25px;
    margin-left: 75%;
    margin-right: 2%;
}
 #clear-history {
    
    margin-left: 15px;
    margin-top: 10px;
 }

 #clearHistoryBtn {
    font-weight: bold;
 }


 .character-desc{
    background: #000000d0;
    color: white;
    padding: 1em;
    border-radius: 30px;
 }


 .history{
    background: #000000d0;
    color: white;
    border-radius: 10px;
    margin-left: 25px;
 }
 /* .character-name{
    background: #000000d0;
    color: white;
    margin-left: 25px;
 } */

 .img{
    align-items: center;
 }