body {
    background-color: blanchedalmond;
    min-height: 700px;
    background-image: url("https://source.unsplash.com/1600x900/?marvel")
    
}

.titleContainer {
    background-color: brown;
    padding-bottom: 20px;
}
.customTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
}

.search {
    margin-top: 40px;
    margin-left: 10px;
}

.history {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.custom-info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.search-history {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 10px;
}
.search-history li {
    margin-top: 10px;
    border: solid;
    text-align: center;
    margin-left: 15px;
}

#redirect {
    display: none;
    margin-top: 25px;
    margin-left: 75%;
    margin-right: 2%;
}
 #clear-history {
    
    margin-left: 15px;
    margin-top: 10px;
 }

 #clearHistoryBtn {
    font-weight: bold;
 }
 .button{
    background-color: red;
    color: white
 }