

.titleContainer {
    background-color: brown;
    padding-bottom: 20px;
}
.customTitle {
    margin-top: 30px;
}

.search {
    margin-top: 40px;
    margin-left: 10px;
}

.history {
    margin-left: 10px;
}
